<footer class="footer">

    <div class="foot">
        <img src="pictures/50ca947d-71d2-4430-b33d-e8841b15f8d9.jpg">
        <h4>AAKARSH SATHISH</h4>
        <div class="foot-social">
            <i class="fab instagram fa-instagram fa-2x"></i>
            <i class="fab facebook fa-facebook fa-2x"></i>
            <i class="fab  twitter fa-twitter fa-2x"></i>
            <i class="fab  youtube fa-youtube fa-2x"></i>
        </div>

        <div class="final">
            COPYRIGHT
        </div>




    </div>

</footer>
</body>

</html>