<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <section class="header">
        <div class="front-page">
            <img src="pictures/brown-book-page-1112048.jpg">

            <div class="navbar">
                <div class="head">
                    <h1>MY LIFE</h1>
                </div>
                <div class="lists">
                    <ul class="navlists">
                        <li><a href="/">HOME</a></li>
                        <li><a href=#>LIFETIME</a></li>
                        <li><a href="/blog">BLOG</a></li>
                        <li><a href=#>SOCIAL</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="social-media">
            <i class="fab instagram fa-instagram fa-2x"></i>
            <i class="fab facebook fa-facebook fa-2x"></i>
            <i class="fab  twitter fa-twitter fa-2x"></i>
            <i class="fab  youtube fa-youtube fa-2x"></i>

        </div>
    </section>