<%- include("header"); -%>




<section class="content-story">

    <div class="Story-so-far">
        <h2 class="LIFE">LIFETIME</h2>
        <div class="container">
            <div class="content">
                <img src="pictures/selective-focus-photography-of-bookshelf-with-books-1370296.jpg">
                <h2>Graduated from Chennai University</h2>
                <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum modi architecto praesentium
                    autem corrupti nihil, velit alias sapiente beatae illum!</h4>
            </div>
            <div class="content">
                <img src="pictures/blue-and-silver-stetoscope-40568.jpg">
                <h2>Finished my M.B.B.S Course</h2>
                <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum modi architecto praesentium
                    autem corrupti nihil, velit alias sapiente beatae illum!</h4>
            </div>
            <div class="content">
                <img src="pictures/mountains-nature-sky-vacation-130111.jpg">
                <h2>Mother of two</h2>
                <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum modi architecto praesentium
                    autem corrupti nihil, velit alias sapiente beatae illum!</h4>
            </div>
            <div class="content">
                <img src="pictures/architecture-boats-building-castle-547494.jpg">
                <h2>Working in Germany</h2>
                <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum modi architecto praesentium
                    autem corrupti nihil, velit alias sapiente beatae illum!</h4>
            </div>
        </div>
    </div>

    <div class="btn">
        <a href="#" class="button">
            READ MORE
        </a>
    </div>
</section>

<section class="fiction">

    <div class="fiction-container">
        <div class="fiction-img">
            <img src="pictures/clem-onojeghuo-zlABb6Gke24-unsplash.jpg" alt="">

            <div class="fiction-tell">
                <h1>PALM RESORT</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed aperiam ullam similique veritatis
                    optio
                    perferendis, minima nam exercitationem officiis, ad dicta quisquam maxime, velit doloribus!</p>
                <div class="btx">
                    <a href="#" class="but">
                        VISIT
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("footer"); -%>